*{margin: 0; padding: 0;}

body {
    font-family: arial black, sans-serif;
    font-size: 18px;
}

.menu {
    list-style: none;
    border: 2px solid #c0c0c0;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    border-right: 2px solid #c0c0c0;
}

.menu li a {
    color: #333333; 
    text-decoration: none; 
    padding: 10px; 
    display: block;
}

.menu li a:hover {
    background: #333333;
    color: #ffffff;
    -moz-box-shadow: 0 3px 10px 0 #cccccc;
    text-shadow: 0px 0px 5px #ffffff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #ffffff;
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
    
}

